<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="iteration1"></test>

    <test verbose="2" preserve-order="true" name="/home/gaian/mobile/src/test/java/Stepdefinations">
        <classes><class name="Stepdefinations.Test1">
            <methods><include name="f1"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>